*{
    font-family:'Segoe UI'
}

.resultsTable{
   border: 1px solid;
   border-color:dimgray;
   width:75%;
   border-collapse:collapse;
   background-color:#e6e6e6;
   font-weight:bold;
   text-align:center;
}

.resultsTable tr{
    height:27.5px;
}

.resultsTable td {
    border:1px solid;
    padding-left:3px;
}

#signin
{
    margin-left: auto;
    margin-right: auto;
    width: inherit;
    text-align: right;
    padding-top: 5px;
    padding-right: 5px;
    font-size: 12px;
}

.branding
{
    width: 980px;
    text-align: center;
    margin: 10px auto;
}

.content-box
{
    margin: 20px auto;
    background-color: #FFFFFF;
    overflow: hidden;
}
